body{
    background-color: #3E3A48;
    font-family: "Indie Flower";
    font-size: 3.5rem;
    text-align: center;
    color: #73D7A7;
    padding-top: 8rem;
}
h1{
    font-family: "Lobster";
    font-size: 5rem;
    padding-bottom: 50px;
}

